* {
   margin: 0;
   padding: 0;
   }

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: hsl(243, 100%, 93%);
}

.db-back{
  background-color: hsl(229, 56%, 26%);
  border-radius: 10px;
}

.content{
  width: 67vw;
  /* padding: 0 17vw; */
}

/* BACKGROUND */
.background{
  height: 100vh;
  background-image: url(../images/bg-desktop.svg);
  background-size: 100% 50%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: hsla(229, 57%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LEFT BOX */
#left-box{
  border-top-right-radius: 100px;
  padding: 30px;
}

.logo{
  padding: 10px 7px 30px;
}

.deck{
  max-width: 174px;
  display: flex;
}

.icon{
  padding: 10px;
  margin: 7px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10%;
  flex: 1;
}

/* RIGHT BOX */
#right-box{
  padding: 30px;
}
.slider{
  width: 100%;
  background-color: hsla(229, 57%, 11%);
}
/* .tooltip {
  position: relative;
  display: inline-block;
  padding: 100px;
}
.tooltip .tooltiptext {
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
} */



.zero{
  font-weight: 700;
}
.thousand{
  text-align: right;
  font-weight: 700;
}